body {
  padding-top: 20px;
  padding-bottom: 30px;
}

button.delete {
  border: none;
  padding: none !important;
  color: red;
  text-decoration: none;
}

#data-entry {
  background-color: lightblue;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#new-message {
  width: 75%;
}
#new-contact {
  width: 75%;
}
#new-contact-input {
  padding-top: 5px;
}
#list {
  padding: 10px 10px 10px 10px;
}

#twilio-config-options {
  padding-top: 10px;
}

#about {
  padding-top: 10px;
}

tr.stopped td {
  text-decoration: line-through;
}
